@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Open+Sans:wght@400;700&family=Oswald:wght@400;700&family=Roboto:wght@400;700&family=Courier+Prime:wght@400&display=swap');

p.caption {
  color: #777;
  margin-top: 10px;
}
p code {
  white-space: inherit;
}
pre {
  word-break: normal;
  word-wrap: normal;
}
pre code {
  white-space: inherit;
}

.geneDisplay, .dt-buttons, .dropdown, .vega-bindings {
  display: none;
}

.hasAnchor {
  background-color: #00468B !important; /* Unimelb blue */
  border: none;
  color: white !important;
  padding: 15px 32px;
  /*text-align: center;*/
  display: inline-block;
  width: 100% !important;
  font-size: 18px !important;
}